# microCMS
MICROCMS_SERVICE_DOMAIN=your-service-domain
MICROCMS_API_KEY=your-api-key

# Revalidate Secret (Webhook)
REVALIDATE_SECRET=your-revalidate-secret

# Preview Secret
PREVIEW_SECRET=your-preview-secret
